{% extends "layouts/user.html.twig" %}
 {% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Ajouts à valider</h4>
        </div>
        <div class="card-body">
            <div id="accordion-one" class="accordion">
                <div class="accordion__item">
                    <div class="accordion__header" data-toggle="collapse" data-target="#default_collapseOne">
                        <span class="accordion__header--text">Nouveaux Jeux</span>
                        <span class="badge badge-primary badge-pill">{{ gamesCount }}</span>
                        <span class="accordion__header--indicator"></span>
                    </div>
                    <div id="default_collapseOne" class="collapse accordion__body show"
                         data-parent="#accordion-one">
                        <table class="table table-responsive-sm">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Voir</th>
                                <th>Valider</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in games %}
                                <tr>
                                    <td><a href="{{ url('viewGame',{id: game.id}) }}">{{ game.name }}</a></td>
                                    <td><a href="{{ url('viewGame',{id: game.id}) }}"><i class="icon-eye"></i></a></td>
                                    <td><a href="{{ url('approveGame',{id: game.id}) }}"><i class="icon-like"></i></a>
                                    </td>
                                    <td><a href="{{ url('removeGame',{id: game.id}) }}"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__header collapsed" data-toggle="collapse"
                         data-target="#default_collapseTwo">
                        <span class="accordion__header--text">Nouveaux Livres</span>
                        <span class="badge badge-primary badge-pill">{{ booksCount }}</span>
                        <span class="accordion__header--indicator"></span>
                    </div>
                    <div id="default_collapseTwo" class="collapse accordion__body" data-parent="#accordion-one">
                        <table class="table table-responsive-sm">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Jeu</th>
                                <th>Voir</th>
                                <th>Valider</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for book in books %}
                                <tr>
                                    <td><a href="{{ url('viewBook',{id: book.id}) }}">{{ book.title }}</a></td>
                                    <td><a href="{{ url('viewGame',{id: book.game.id}) }}">{{ book.game.name }}</a></td>
                                    <td><a href="{{ url('viewBook',{id: book.id}) }}"><i class="icon-eye"></i></a></td>
                                    <td><a href="{{ url('approveBook',{id: book.id}) }}"><i class="icon-like"></i></a>
                                    </td>
                                    <td><a href="{{ url('removeBook', {id: book.id}) }}"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}