{% extends "layouts/user.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ game.name}}</h4>
                    </div>
                    <div class="card-body">
                        <h2>Description</h2>
                        <p>{{ game.description}}</p>
                        <h2>Livres</h2>
                        <p>Pas dans la liste ? <a class="text-primary" href="{{ url("formLivre") }}">Ajoutez-le !</a></p>
                        <div class="table-responsive">
                            <table class="table table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Catégorie</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in game.books %}
                                    <tr>
                                        <td><a href="{{url('livre',{id: book.id})}}">{{ book.title }}</a></td>
                                        <td>{{book.category}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
