{% extends "layouts/user.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h1 >{{ game.name }}</h1>
                    </div>
                    {% for message in app.flashes('addBookSuccess')%}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                    <div class="card-body">
                        <h2>Description</h2>
                        <p>{{ game.description }}</p>
                        <h2>Livres</h2>
                        {{ form(filterForm) }}
                        <a href="{{ url('viewGame',{id: game.id}) }}">Supprimer le filter</a>
                        <p>Pas dans la liste ? <a class="text-primary" href="{{ url("addBook",{gameId: game.id}) }}">Ajoutez-le
                                !</a></p>
                        <div class="table-responsive">
                            <table class="table table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Catégorie</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in books %}
                                    {% if book.visible == true %}
                                        <tr>
                                            <td><a href="{{ url('viewBook',{id: book.id}) }}">{{ book.title }}</a></td>
                                            <td>{{ book.category }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('editGame',{id: game.id}) }}">Editer</a>
                        <a href="{{ url('removeGame',{id: game.id}) }}"><i class="icon-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
