{% extends "layouts/user.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ book.title}}</h4>
                    </div>
                    <img src="{{ asset('uploads/'~book.cover.url)}}" width="150px" height="300px" class="cover-book">
                    <div class="col-12">
                        <div>Genre : {{ book.category }}</div>
                        <div>Date de sortie : {{ book.releaseDate | date("d-m-y") }}</div>
                        <div>Editeur : {{ book.editor }}</div>
                        <p> Description</p>
                        <p>{{ book.description }}</p>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ url('editBook',{id: book.id}) }}">Ajouter à ma collection.</a>
                            <br>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('editBook',{id: book.id}) }}">Editer ?</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h4>Commentaires</h4>
                        <div class="recent-comment m-t-15">
                            {% for comment in book.commentaries %}
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"><img class="media-object mr-3" src="{{ asset("./images/avatar/2.png")}}"
                                                         alt="..."></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading text-success">{{comment.user.pseudo}}</h4>
                                        <p>{{ comment.content }}</p>
                                        <p class="comment-date">{{ comment.date | date("d/m/Y") }}</p>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ url('removeComment',{id: comment.id, idBook: book.id}) }}"> Supprimer</a>
                                    {% endif %}
                                </div>
                                {% else %}
                                <p>Il n'y a pas de commentaires.</p>
                            {% endfor %}
                        </div>
                        <h4>Ajouter un commentaire</h4>
                        <!--<form>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
                        </form>
                        -->
                        {% if is_granted('ROLE_USER') %}
                          {{ form(commentaryForm) }}
                            {% else %}
                            <p>Vous devez être connectés pour pouvoir poster un commentaire.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
