{% extends "base.html.twig" %}
{% block title %}Index livres {% endblock title %}
{% block stylesheets %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/images/favicon.png') }}">
    <link href=" {{ asset('/vendor/jqvmap/css/jqvmap.min.css') }}" rel="stylesheet">
    <link href=" {{ asset('/css/style.css') }}" rel="stylesheet">
{% endblock stylesheets %}
 {% block javascripts %}
     <script src="{{ asset("/vendor/global/global.min.js") }}"></script>
     <script src="{{ asset("/js/quixnav-init.js") }}"></script>
     <script src="{{ asset("./js/custom.min.js") }}"></script>

     <script src=" {{ asset('/vendor/raphael/raphael.min.js') }}"></script>
     <script src="{{ asset('/vendor/morris/morris.min.js') }}"></script>

     <script src="{{ asset('/vendor/circle-progress/circle-progress.min.js') }}"></script>
     <script src="{{ asset('/vendor/chart.js/Chart.bundle.min.js') }}"></script>

     <script src="{{ asset('/vendor/gaugeJS/dist/gauge.min.js') }}"></script>
     <!--  flot-chart js -->
     <script src="{{ asset('/vendor/flot/jquery.flot.js') }}"></script>
     <script src="{{ asset('/vendor/flot/jquery.flot.resize.js') }}"></script>

     <!-- Owl Carousel -->
     <script src="{{ asset('/vendor/owl-carousel/js/owl.carousel.min.js') }}"></script>

     <!-- Counter Up -->
     <script src="{{ asset('/vendor/jqvmap/js/jquery.vmap.min.js') }}"></script>
     <script src="{{ asset('/vendor/jqvmap/js/jquery.vmap.usa.js') }}"></script>
     <script src="{{ asset('/vendor/jquery.counterup/jquery.counterup.min.js') }}"></script>

     <script src="{{ asset('/js/dashboard/dashboard-1.js') }}"></script>
 {% endblock javascripts %}

 {% block body %}
     <div class="authincation h-100">
         <div class="container-fluid h-100">
             <div class="row justify-content-center h-100 align-items-center">
                 <div class="col-md-6">
                     <div class="authincation-content">
                         <div class="row no-gutters">
                             <div class="col-xl-12">
                                 <div class="auth-form">
                                     {% block content %}
                                     {% endblock content %}
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock body %}