{% extends "base.html.twig" %}
{% block title %}Index{% endblock title %}
{% block stylesheets %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/images/favicon.png') }}">
    <link href=" {{ asset('/vendor/jqvmap/css/jqvmap.min.css') }}" rel="stylesheet">
    <link href=" {{ asset('/css/style.css')}}" rel="stylesheet">
{% endblock stylesheets %}
 {% block javascripts %}
     <script src="{{ asset("/vendor/global/global.min.js")}}"></script>
     <script src="{{ asset("/js/quixnav-init.js")}}"></script>
     <script src="{{ asset("./js/custom.min.js")}}"></script>

     <script src=" {{ asset('/vendor/raphael/raphael.min.js') }}"></script>
     <script src="{{ asset('/vendor/morris/morris.min.js') }}"></script>

     <script src="{{ asset('/vendor/circle-progress/circle-progress.min.js') }}"></script>
     <script src="{{ asset('/vendor/chart.js/Chart.bundle.min.js') }}"></script>

     <script src="{{ asset('/vendor/gaugeJS/dist/gauge.min.js') }}"></script>

     <!--  flot-chart js -->
     <script src="{{ asset('/vendor/flot/jquery.flot.js') }}"></script>
     <script src="{{ asset('/vendor/flot/jquery.flot.resize.js') }}"></script>

     <!-- Owl Carousel -->
     <script src="{{ asset('/vendor/owl-carousel/js/owl.carousel.min.js') }}"></script>

     <!-- Counter Up -->
     <script src="{{ asset('/vendor/jqvmap/js/jquery.vmap.min.js') }}"></script>
     <script src="{{ asset('/vendor/jqvmap/js/jquery.vmap.usa.js') }}"></script>
     <script src="{{ asset('/vendor/jquery.counterup/jquery.counterup.min.js') }}"></script>

     <script src="{{ asset('/js/dashboard/dashboard-1.js') }}"></script>
 {% endblock javascripts %}
 {% block body %}
     <!--*******************
         Preloader start
     ********************-->
     <div id="preloader">
         <div class="sk-three-bounce">
             <div class="sk-child sk-bounce1"></div>
             <div class="sk-child sk-bounce2"></div>
             <div class="sk-child sk-bounce3"></div>
         </div>
     </div>
     <!--*******************
         Preloader end
     ********************-->

     <!--**********************************
         Main wrapper start
     ***********************************-->
     <div id="main-wrapper">
         <!--**********************************
             Header start
         ***********************************-->
         <div class="header">
             <div class="header-content">
                 <nav class="navbar navbar-expand">
                     <div class="collapse navbar-collapse justify-content-between">
                         <div class="header-left">
                             <a href="{{ url('home')}}">
                                 <div class="logo">Jdr App</div>
                             </a>
                             <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                 <div class="dropdown-menu p-0 m-0">
                                     <!--<<form>
                                         input class="form-control" type="search" placeholder="Search"
                                                 aria-label="Search">
                                      </form> -->
                                     {% set searchForm = getSearchForm() %}
                                     {{ form_start(searchForm) }}
                                     {{ form_widget(searchForm.keyword,{'attr': {'class': 'form-control'}}) }}
                                     {{ form_widget(searchForm.submit,{'attr': {'class': 'form-control'}}) }}
                                     {{ form_end(searchForm)}} -->
                                 </div>
                             </div>
                         </div>
                         <ul class="navbar-nav header-right">
                             <li class="nav-item dropdown header-profile">
                                 <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                     <i class="mdi mdi-account"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                     <a href="{{ url('profil') }}" class="dropdown-item">
                                         <i class="icon-user"></i>
                                         <span class="ml-2">Profile </span>
                                     </a>
                                     <a href="{{ url('collection') }}" class="dropdown-item">
                                         <i class="icon-book-open"></i>
                                         <span class="ml-2">Collection</span>
                                     </a>
                                     <a href="{{ url('login') }}" class="dropdown-item">
                                         <i class="icon-key"></i>
                                         <span class="ml-2">Logout </span>
                                     </a>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </nav>
             </div>
         </div>
         <!--**********************************
             Header end ti-comment-alt
         ***********************************-->

         <!--**********************************
             Content body start
         ***********************************-->
         <div class="content-body">
           {% block content %}
             {% endblock content %}
             <!--**********************************
                 Content body end
             ***********************************-->

             <!--**********************************
                 Footer start
             ***********************************-->
             <div class="footer">
                 <div class="copyright">
                     <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Arnaud Bit</a> 2021</p>
                 </div>
             </div>
             <!--**********************************
                 Footer end
             ***********************************-->
         </div>
     </div>
 {% endblock body %}
